
/* Tipografias */

@font-face {
font-family: "Open Sans";
font-weight: 300;
src: url("../fonts/OpenSans/OpenSans-Light.oet");
src: //url("../fonts/OpenSans/OpenSans-Light.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Light.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 300;
font-style: italic;
src: url("../fonts/OpenSans/OpenSans-LightItalic.oet"); 
src: //url("../fonts/OpenSans/OpenSans-LightItalic.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-LightItalic.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 400;
font-style: normal;
src: url("../fonts/OpenSans/OpenSans-Regular.oet"); 
src: //url("../fonts/OpenSans/OpenSans-Regular.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Regular.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 400;
font-style: italic;
src: url("../fonts/OpenSans/OpenSans-Italic.oet"); 
src: //url("../fonts/OpenSans/OpenSans-Italic.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Italic.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Italic.svg#OpenSans-Italic") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 600;
font-style: normal;
src: url("../fonts/OpenSans/OpenSans-Bold.oet"); 
src: //url("../fonts/OpenSans/OpenSans-Bold.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Bold.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 600;
font-style: italic;
src: url("../fonts/OpenSans/OpenSans-BoldItalic.oet"); 
src: //url("../fonts/OpenSans/OpenSans-BoldItalic.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 700;
font-style: normal;
src: url("../fonts/OpenSans/OpenSans-Semibold.oet"); 
src: //url("../fonts/OpenSans/OpenSans-Semibold.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Semibold.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 700;
font-style: italic;
src: url("../fonts/OpenSans/OpenSans-SemiboldItalic.oet"); 
src: //url("../fonts/OpenSans/OpenSans-SemiboldItalic.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-SemiboldItalic.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-SemiboldItalic.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 800;
font-style: normal;
src: url("../fonts/OpenSans/OpenSans-Bold.oet"); 
src: //url("../fonts/OpenSans/OpenSans-Bold.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-Bold.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg"); 
}

@font-face {
font-family: "Open Sans";
font-weight: 800;
font-style: italic;
src: url("../fonts/OpenSans/OpenSans-BoldItalic.oet"); 
src: //url("../fonts/OpenSans/OpenSans-BoldItalic.otf") format("opentype"),
		 url("../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.ttf")  format("truetype"), 
		 url("../fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg"); 
}

@font-face {
font-family: "Roboto";
font-weight: 200;
src: url("../fonts/Roboto/Roboto-Thin.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 200;
font-style: italic;
src: url("../fonts/Roboto/Roboto-ThinItalic.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 300;
font-style: normal;
src: url("../fonts/Roboto/Roboto-Light.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 300;
font-style: italic;
src: url("../fonts/Roboto/Roboto-LightItalic.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 400;
font-style: normal;
src: url("../fonts/Roboto/Roboto-Regular.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 400;
font-style: italic;
src: url("../fonts/Roboto/Roboto-Italic.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 500;
font-style: normal;
src: url("../fonts/Roboto/Roboto-Medium.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 500;
font-style: italic;
src: url("../fonts/Roboto/Roboto-MediumItalic.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 600;
font-style: normal;
src: url("../fonts/Roboto/Roboto-Bold.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 600;
font-style: italic;
src: url("../fonts/Roboto/Roboto-BoldItalic.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 700;
font-style: normal;
src: url("../fonts/Roboto/Roboto-Black.ttf")  format("truetype")
}

@font-face {
font-family: "Roboto";
font-weight: 700;
font-style: italic;
src: url("../fonts/Roboto/Roboto-BlackItalic.ttf")  format("truetype")
}